.start {
  background-color: green;
  padding: 8px 20px;
  color: #fff;
  border: none;
}
.stop {
  background-color: red;
}
#result {
  color: blue;
}
.increment,
.decrement {
  background-color: rgb(62, 124, 148);
  color: #fff;
}
.reset {
  background-color: rgb(255, 111, 0);
}
.increment2 {
  background-color: bisque;
}
#increment2 {
  border: 1px solid red;
  outline: none;
}

.start,
.stop,
.increment,
.decrement,
.increment2,
.reset {
  padding: 6px 20px;

  border: none;
}
.start,
.stop {
  color: #fff;
}
